@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Devanagari:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tiro+Devanagari+Hindi:ital@0;1&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;



/* General styles for toast notifications */
.Toastify__toast {
  font-size: 16px; /* Adjust the font size for desktop views */
}

.Toastify__toast-container {
  width: 90% !important; /* Adjust the width as needed */
  top: 30px !important;
  right: 10px;
}