@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Devanagari:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tiro+Devanagari+Hindi:ital@0;1&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

/* toastStyles.css */
@media (max-width: 768px) {
  .Toastify__toast-container {
    width: 60% !important; /* Adjust the width as needed */
  }

  .Toastify__toast {
    font-size: 14px !important; /* Adjust the font size as needed */
  }
}

/* General styles for toast notifications */
.Toastify__toast {
  font-size: 16px; /* Adjust the font size for desktop views */
}